phonebook.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="Phonebook"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="Phonebook"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="Phonebook"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <xsd:documentation></xsd:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Phonebook">
            <xsd:complexType name="contact">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"></xsd:element>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="email" type="xsd:string"></xsd:element>
                    <xsd:element name="phone" type="tns:integer"></xsd:element>
                    <xsd:element name="address" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="contact">
        <wsdl:part name="contact" type="xsd:contact"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="status">
        <wsdl:part name="status" type="tns:integer"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="input">
        <wsdl:part name="input" type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="result">
        <wsdl:part name="result" type="xsd:string"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="Phonebook">
        <wsdl:operation name="addContact">
            <wsdl:input message="tns:contact"/>
            <wsdl:output message="tns:status"/>
        </wsdl:operation>
        <wsdl:operation name="editContact">
            <wsdl:input message="tns:contact"/>
            <wsdl:output message="tns:status"/>
        </wsdl:operation>
        <wsdl:operation name="listContacts">
            <wsdl:input message="tns:input"/>
            <wsdl:output message="tns:result"/>
        </wsdl:operation>
        <wsdl:operation name="searchContacts">
            <wsdl:input message="tns:input"/>
            <wsdl:output message="tns:result"/>
        </wsdl:operation>
        <wsdl:operation name="deleteContact">
            <wsdl:input message="tns:input"/>
            <wsdl:output message="tns:status"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="Phonebook" type="tns:Phonebook">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addContact" />
        <wsdl:operation name="listContacts" />
        <wsdl:operation name="searchContacts" />
        <wsdl:operation name="deleteContact" />
        <wsdl:operation name="editContact" />
    </wsdl:binding>

    <wsdl:service name="Phonebook">
        <wsdl:port binding="tns:Phonebook" name="Phonebook">
            <soap:address location="http://localhost/server.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>